@import url("./main.scss");
@import url("./icon.scss");
@import url("./dark.scss");
@import url("./icon-new.scss");
@import url("./animation.scss");

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.ofh {
	overflow: hidden;
}

.br20 {
	border-radius: 20rpx;
}